<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactNumber">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Educational Background</mat-label>
        <textarea matInput formControlName="educationalBackground"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
